.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;

  .sport {
    background-image: url("/assets/running.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100vh;
  }

  .sport-hover-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 10;
  }

  .dev {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transform-origin: top right;
    height: 100vh;
    width: 75vw;

    .inner {
      -webkit-transform: skew(-20deg, 0);
      -moz-transform: skew(-20deg, 0);
      -o-transform: skew(-20deg, 0);
      transform: skew(-20deg, 0);
      position: absolute;
      top: 0;
      right: -33%;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .img {
        background-image: url("/assets/development.jpeg");
        -webkit-transform: skew(20deg, 0);
        -moz-transform: skew(20deg, 0);
        -o-transform: skew(20deg, 0);
        transform: skew(20deg, 0);
        height: 100%;

        position: absolute;
        left: -33%;
        right: 0;
      }
    }
  }

  .navigation {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .container {
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        color: #fff;
        font-size: 32px;
        font-weight: 300;
        line-height: 70px;
      }

      a.nav-logo {
        font-size: 42px;
        text-decoration: none;
      }
    }
  }
}
